.App {
  text-align: left;
  font-family: "Courier Prime", monospace;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.Navbar {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(33, 34, 42, 1);
  display: flex;
  height: 91px;
}

.Navbar-logopart {
  display: flex;
  justify-content: space-around;
}

.Navbar-logo {
  width: 40px;
}

.Navbar-title {
  font-weight: 700;
  font-size: 22.25px;
  color: rgba(97, 218, 251, 1);
}

.Navbar-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: rgba(222, 235, 248, 1);
  padding-right: 20px;
}

.Main {
  color: rgba(255, 255, 255, 1);
  margin: 50px 20px;
  background-image: url(./react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 200px;
  margin-right: 0;
}

.Main-title {
  margin: 0;
  padding: 0;
  font-size: 39px;
  font-weight: 700;
}

.Main-listitem {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-block: 20px;
}

::marker {
  color: rgba(97, 218, 251, 1);
}
